/* ===== ESTILOS BASE ===== */
body {
    margin: 0;
    font-family: 'Ovo', serif;
}

/* ===== SECCIONES PRINCIPALES ===== */
.header {
    margin-top: 10px;
    text-align: center;
    background-color: #FFFFFF;
    padding: 0px 0px;
    height: 728px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.titulo-lema {
    font-family: 'Playfair Display', serif;
    font-size: 25px;
    color: #291B2C;
    text-align: center;
    margin-bottom: 0px;
    font-style: italic;
    background-color: #FFEBEC;
}

.imagen-promocional {
    width: 909px;
    height: 547px;
    border: none;
    padding: 0;
    margin: 0 auto;
    margin-top: 0px;
    margin-bottom: 0;
    background-color: transparent;
}

.imagen-promocional img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 3px;
}

.video-promocional {
    width: 100%;
    height: 750px;
    border: none;
    padding: 0;
    margin: 0 auto;
    margin-top: -20px;
    margin-bottom: 0;
    background-color: transparent;
    overflow: hidden; 
}

.video-promocional video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0px;
    pointer-events: none;
}

/* ===== SECCIÓN CREA TU PERFUME ===== */
.crea-tu-perfume {
    background-color: rgba(255, 235, 236, 0.5);
    padding: 50px 20px;
    text-align: center;
    height: 580px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenedor-titulo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0px;
}

.isotipo {
    width: 59.97px;
    height: 75px;
    margin-right: 0px;
}

.titulo-seccion {
    font-family: 'Playfair Display', serif;
    font-size: 60px;
    font-weight: 600;
    font-style: italic;
    color: #291B2C;
    margin: 0;
}
/*  NO SE */

.pasos-container {
    display: flex;
    justify-content: center;
    gap: 50px;
    width: 100%;
    max-width: 1200px;
    margin-top: 10px;
}

.paso {
    position: relative;
    transition: transform 0.5s ease;
    height: 100%;
}

.paso img {
    width: 400px;
    height: 500px;
    object-fit: cover;
    margin-bottom: 20px;
    border-radius: 3px;
}

.paso-link {
    text-decoration: none;
    color: inherit;
    display: block;
}

.paso-link:hover .paso {
    transform: translateY(-7px);
}

.paso-link:hover .parrafo-section {
    color: #3d2730; /* Un tono ligeramente más oscuro */
    transition: color 0.3s ease;
}

.paso-link .parrafo-section {
    font-family: 'Ovo', serif;
    font-size: 25px;
    color: #291B2C;
    margin: 0;
    text-decoration: none !important; /* Aseguramos que nunca tenga subrayado */
}

/* ===== ANIMACION ===== */

.crea-tu-perfume .paso {
    transition: transform 0.5s ease;
}

.crea-tu-perfume .paso:hover {
    transform: translateY(-7px);
}

/* ===== ANIMACION ===== */

.parrafo-section {
    font-family: 'Ovo', serif;
    font-size: 25px;
    color: #291B2C;
    margin: 0;
}

/* ===== SECCIÓN DESCUBRE ESCENCIAS ===== */
.descubre-escencias {
    background-color: #FFFFFF;
    padding: 50px 20px;
    text-align: center;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.escencia-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    width: 100%;
    max-width: 1200px;
    margin-top: 10px;
}

.escencia {
    position: relative;
    transition: transform 0.5s ease;
    height: 100%;
}

.escencia img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 3px;
}

.escencia-container .escencia {
    transition: transform 0.5s ease;
}

.escencia-container .escencia:hover {
    transform: translateY(-7px);
}

.escencia p {
    margin-top: 10px;
    font-family: 'Ovo', serif;
    font-size: 18px;
    color: #291B2C;
}

.escencia-link {
    text-decoration: none;
    color: inherit;
    display: block;
}

.escencia-link:hover .escencia {
    transform: translateY(-7px);
}

.escencia-link .parrafo-section {
    font-family: 'Ovo', serif;
    font-size: 18px;
    color: #291B2C;
    margin: 10px 0 0 0;
    text-decoration: none !important;
}

.escencia-link:hover .parrafo-section {
    color: #3d2730;
    transition: color 0.3s ease;
}

/* ===== SECCIÓN ENVASES ===== */
.descubre-envase {
    background-color: rgba(255, 235, 236, 0.5);
    padding: 50px 20px;
    text-align: center;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.envase-container {
    display: flex;
    justify-content: center;
    gap: 50px;
    width: 100%;
    max-width: 1200px;
    margin-top: 10px;
}

.envase {
    text-align: center;
}

.envase-container .envase {
    transition: transform 0.5s ease;
}

.envase-container .envase:hover {
    transform: translateY(-7px);
}

.envase img {
    width: 300px;
    height: 500px;
    object-fit: cover;
    margin-bottom: 20px;
    border-radius: 3px;
}

/* ===== SECCIÓN VIVE LA EXPERIENCIA ===== */
.descubre-vive {
    background-color: #FFFFFF;
    padding: 50px 20px;
    text-align: center;
    height: 580px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.vive-container {
    display: flex;
    justify-content: center;
    gap: 50px;
    width: 100%;
    max-width: 1200px;
    margin-top: 10px;
}

.vive {
    text-align: center;
}

.vive-container .vive {
    transition: transform 0.5s ease;
}

.vive-container .vive:hover {
    transform: translateY(-7px);
}

.vive img {
    margin-top: 30px;
    width: 600px;
    height: 400px;
    object-fit: cover;
    margin-bottom: 20px;
    border-radius: 3px;
}