body {
    margin: 0;
    font-family: 'Ovo', serif;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 62px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFEBEC;
    padding: 0 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    box-sizing: border-box;
    font-style: bold;
}

.nav-left, .nav-right, .nav-rights {
    display: flex;
    align-items: center;
}

.nav-left {
    justify-content: flex-start;
}

.nav-right {
    justify-content: flex-end;
    gap: 20px;
}

.nav-rights {
    justify-content: flex-end;
    gap: 20px;
}

.nav-left a, .nav-right a {
    color: #000;
    text-decoration: none;
    font-size: 18px;
}

.nav-rights a {
    color: #000;
    text-decoration: none;
    font-size: 20px;
}

.nav-center {
    display: flex;
    align-items: center;
    gap: 10px;
    
}

.logo {
    width: 60px;
    height: 75px;
}

.nav-center h1 {
    font-size: 40px;
    font-weight: normal;
    margin: 0;
    font-style: bold;
    font-family: 'Playfair Display', serif;
}

.header {
    margin-top: 10px;
    text-align: center;
    background-color: #FFFFFF;
    padding: 0px 0px;
    height: 728px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.titulo-lema {
    font-family: 'Playfair Display', serif;
    font-size: 25px;
    color: #291B2C;
    text-align: center;
    margin-bottom: 0px;
    font-style: italic;
    background-color: #FFEBEC;
}

.imagen-promocional {
    width: 909px;
    height: 547px;
    border: none;
    padding: 0;
    margin: 0 auto;
    margin-top: 0px;
    margin-bottom: 0;
    background-color: transparent;
}

.imagen-promocional img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 3px;
}

/* Clase para el contenedor del video */
.video-promocional {
    /*width: 909px;
    height: 547px;*/
    width: 100%;
    height: 728px;
    border: none;
    padding: 0;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 0;
    background-color: transparent;
    overflow: hidden; 
}

.video-promocional video {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajusta el video para cubrir el contenedor */
    border-radius: 0px; /* Bordes redondeados */
    pointer-events: none; /* Desactiva la interacción del usuario */
}

.crea-tu-perfume {
    background-color: rgba(255, 235, 236, 0.5); /* 50% de transparencia */
    padding: 50px 20px;
    text-align: center;
    height: 580px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenedor-titulo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0px;
}

.isotipo {
    width: 59.97px;
    height: 75px;
    margin-right: 0px;
}

.titulo-seccion {
    font-family: 'Playfair Display', serif;
    font-size: 60px;
    font-weight: 600;
    font-style: italic;
    color: #291B2C;
    margin: 0;
}

.pasos-container {
    display: flex;
    justify-content: center; /* Centrar las imágenes */
    gap: 50px; /* Espacio exacto de 50px entre imágenes */
    width: 100%;
    max-width: 1200px;
    margin-top: 10px;
}

.paso {
    text-align: center;
}

.paso img {
    width: 400px;
    height: 500px;
    object-fit: cover;
    margin-bottom: 20px;
    border-radius: 3px;
}

.parrafo-section {
    font-family: 'Ovo', serif;
    font-size: 25px;
    color: #291B2C;
    margin: 0;
}

.descubre-escencias {
    background-color: #FFFFFF;
    padding: 50px 20px;
    text-align: center;
    height: auto; /* Ajusta la altura automáticamente */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.escencia-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columnas */
    grid-template-rows: repeat(2, 1fr); /* 2 filas */
    gap: 20px; /* Espacio entre imágenes */
    width: 100%;
    max-width: 1200px;
    margin-top: 10px;
}

.escencia {
    text-align: center;
}

.escencia img {
    width: 100%; /* Ajusta el ancho al 100% del contenedor */
    height: 200px; /* Altura fija para las imágenes */
    object-fit: cover;
    border-radius: 3px;
}

.escencia p {
    margin-top: 10px; /* Espacio entre la imagen y el texto */
    font-family: 'Ovo', serif;
    font-size: 18px;
    color: #291B2C;
}

.descubre-envase {
    background-color: rgba(255, 235, 236, 0.5);
    padding: 50px 20px;
    text-align: center;
    height: auto; /* Ajusta la altura automáticamente */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.envase-container {
    display: flex;
    justify-content: center; /* Centrar las imágenes */
    gap: 50px; /* Espacio exacto de 50px entre imágenes */
    width: 100%;
    max-width: 1200px;
    margin-top: 10px;
}

.envase {
    text-align: center;
}

.envase img {
    width: 300px;
    height: 500px;
    object-fit: cover;
    margin-bottom: 20px;
    border-radius: 3px;
}

.descubre-vive {
    background-color: #FFFFFF;
    padding: 50px 20px;
    text-align: center;
    height: 580px; /* Ajusta la altura automáticamente */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.vive-container {
    display: flex;
    justify-content: center; /* Centrar las imágenes */
    gap: 50px; /* Espacio exacto de 50px entre imágenes */
    width: 100%;
    max-width: 1200px;
    margin-top: 10px;
}

.vive {
    text-align: center;
}

.vive img {
    margin-top: 30px;
    width: 600px;
    height: 400px;
    object-fit: cover;
    margin-bottom: 20px;
    border-radius: 3px;
}

.foot-titulo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0px;
    margin-top: 20px;
}

.titulo-foot {
    font-family: 'Playfair Display', serif;
    font-size: 60px;
    font-weight: 600;
    font-style: bold;
    color: #FFFFFF;
    margin: 0;
}

footer {
    background-color: #000;
    padding: 20px;
    text-align: center;
    height: 550px;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    margin-top: 50px;
}

.footer-section {
    text-align: left;
}

.footer-section h3 {
    font-size: 17px;
    font-weight: normal;
    margin-bottom: 10px;
    color: #8E8989;
}

.footer-section ul {
    list-style-type: none;
    padding: 0;
    color: #FFFFFF;
}

.footer-section ul li {
    font-size: 17px;
    margin-bottom: 5px;
    color: #FFFFFF;
}

.footer-line {
    height: 1px;
    background-color: #FFFFFF;
    margin-top: 80px;
}

.footer-icons {
    display: flex;
    flex-direction: row; /* Coloca los iconos en una fila */
    justify-content: flex-end; /* Alinea los iconos a la derecha */
    align-items: center; /* Centra verticalmente los iconos */
    margin-top: 50px; /* Espacio de 50px con la figura de arriba */
}

.footer-icons a {
    color: #FFFFFF; /* Color blanco para los iconos */
    text-decoration: none; /* Elimina el subrayado de los enlaces */
    margin-left: 10px; /* Espacio de 20px entre los iconos */
    height: 30px;
    width: 30px;
}

.footer-icons a:first-child {
    margin-left: 0; /* Elimina el margen izquierdo del primer icono */
}