body {
    margin: 0;
    font-family: 'Ovo', serif;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 62px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFEBEC;
    padding: 0 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    box-sizing: border-box;
    font-style: bold;
}

.nav-left, .nav-right, .nav-rights {
    display: flex;
    align-items: center;
}

.nav-left {
    justify-content: flex-start;
}

.nav-right {
    justify-content: flex-end;
    gap: 20px;
}

.nav-rights {
    justify-content: flex-end;
    gap: 20px;
}

.nav-left a, .nav-right a {
    color: #000;
    text-decoration: none;
    font-size: 18px;
}

.nav-rights a {
    color: #000;
    text-decoration: none;
    font-size: 20px;
}

.nav-center {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo {
    width: 60px;
    height: 75px;
}

.nav-center h1 {
    font-size: 40px;
    font-weight: normal;
    margin: 0;
    font-style: bold;
    font-family: 'Playfair Display', serif;
}


.registro {
    text-align: center;
    padding: 40px 20px;
    margin-top: 40px;
}

.titulo {
    font-family: 'Playfair Display', serif;
    font-size: 30px;
    font-style: italic;
    margin-bottom: 5px;
}

.subtitulo {
    font-size: 18px;
    margin-bottom: 30px;
    font-family: 'Ovo', serif;
    font-style: normal;
    color: #716C6C;
}

.bloque {
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    font-style: normal;
    margin-bottom: 0px;
}

.bloqueS {
    font-family: 'Ovo', serif;
    font-size: 15px;
    font-style: normal;
    margin-bottom: 40px;
    color: #716C6C;
}

label {
    display: block;
    margin-top: 10px;
    font-family: 'Ovo', serif;
    font-size: 15px;
    font-style: italic;
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: 'Ovo', serif;
    font-size: 15px;
}

.formulario-container {
    display: flex;
    justify-content: center;
    gap: 50px;
    max-width: 900px;
    margin: auto;
    text-align: left;
}

.form-bloque-derecha, .form-bloque-izquierda {
    flex: 1;
}

.form-bloque-derecha {
    margin-top: 107.5px;
}

/* Estilos para el contenedor del checklist */
.contenedor {
    display: flex;
    align-items: center; /* Centra verticalmente el checkbox y el label */
    margin-bottom: 40px;
}

/* Estilos para el checkbox */
.checklist {
    margin-right: 10px;
    width: 12px; /* Ancho del checkbox */
    height: 12px; /* Alto del checkbox */
    appearance: none;
    border: 1px solid #716C6C;
    border-radius: 2px;
    cursor: pointer;
    transform: scale(0.5); /* Reduce el tamaño del checkbox */
}

.checklist:checked {
    background-color: #716C6C;
}

/* Estilos para el label */
.bloqueS1 {
    font-family: 'Ovo', serif;
    font-size: 10px;
    font-style: normal;
    color: #716C6C;
    margin-bottom: 5px; /* Asegúrate de que no haya margen inferior adicional */
    line-height: 1.2; /* Ajusta el line-height para centrar el texto verticalmente */
}

.btn-crear {
    background-color: #FFDFE9;
    color: #000;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    margin-top: 20px;
    font-family: 'Ovo', serif;
}

.btn-crear:hover {
    background-color: #B14061;
    color: white;
}

.foot-titulo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0px;
    margin-top: 20px;
}

.titulo-foot {
    font-family: 'Playfair Display', serif;
    font-size: 60px;
    font-weight: 600;
    font-style: bold;
    color: #FFFFFF;
    margin: 0;
}

footer {
    background-color: #000;
    padding: 20px;
    text-align: center;
    height: 550px;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    margin-top: 50px;
}

.footer-section {
    text-align: left;
}

.footer-section h3 {
    font-size: 17px;
    font-weight: normal;
    margin-bottom: 10px;
    color: #8E8989;
}

.footer-section ul {
    list-style-type: none;
    padding: 0;
    color: #FFFFFF;
}

.footer-section ul li {
    font-size: 17px;
    margin-bottom: 5px;
    color: #FFFFFF;
}

.footer-line {
    height: 1px;
    background-color: #FFFFFF;
    margin-top: 80px;
}

.footer-icons {
    display: flex;
    flex-direction: row; /* Coloca los iconos en una fila */
    justify-content: flex-end; /* Alinea los iconos a la derecha */
    align-items: center; /* Centra verticalmente los iconos */
    margin-top: 50px; /* Espacio de 50px con la figura de arriba */
}

.footer-icons a {
    color: #FFFFFF; /* Color blanco para los iconos */
    text-decoration: none; /* Elimina el subrayado de los enlaces */
    margin-left: 10px; /* Espacio de 20px entre los iconos */
    height: 30px;
    width: 30px;
}

.footer-icons a:first-child {
    margin-left: 0; /* Elimina el margen izquierdo del primer icono */
}

.isotipo {
    width: 59.97px;
    height: 75px;
    margin-right: 0px;
}