/* Estilos generales */
body {
    margin: 0;
    font-family: 'Ovo', serif;
}

/* Contenedor principal - Historia */
.historia-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 700px;
    background-color: #FFFFFF;
    margin-top: 0px;
    padding: 0 20px;
}

.imagen-historia img {
    width: 557px;
    height: 582px;
    border-radius: 3px;
    object-fit: cover;
}

.contenido-historia {
    margin-left: 50px;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.titulo-isotipo {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.subtitulo {
    font-family: 'Playfair Display', serif;
    font-size: 65px;
    font-weight: bold;
    font-style: italic;
    margin: 0;
    color: #291B2C;
}

.isotipo {
    width: 59.97px;
    height: 75px;
    margin-left: 10px;
}

.texto-historia {
    font-family: 'Ovo', serif;
    font-size: 20px;
    color: #291B2C;
    text-align: justify;
    line-height: 1.4;
}

/* Contenedor principal - Flor Di Luna */
.flor-di-luna {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 738px;
    background-color: rgba(255, 235, 236, 0.5); /* Fondo con transparencia */
    margin-top: 0px;
    padding: 0 20px;
}

.contenido-flor {
    margin-right: 50px; /* Espacio entre el contenido y la imagen */
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}